<h1>Real-Time Search Analytics</h1>

<input type="text" id="searchInput" placeholder="Search Articles">

<ul id="searchList">
  <% @searches.each do |search| %>
    <li><%= search.query %></li>
  <% end %>
</ul>

<script src="/assets/searches.js"></script>
